# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
Logs/

# ================== #
# Own build binaries #
# ================== #
Builds/
Library/
Screen Shoots/

# ============= #
# Rafa's plugin #
# ============= #
Assets/FavoritesWindow/
Assets/FavoritesWindow.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
.vs
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.lock

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Library/EditorInstance.json
Library/CurrentMaximizeLayout.dwlt
Library/CurrentLayout-default.dwlt
